@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    box-sizing: border-box;
}

:root {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #213547;
    background-color: #f9fafb;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    overscroll-behavior: none;
}

#app {
    width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
